body {
    font-family: Roboto !important;
    height: 100%;
}

.card {
    background-color: white;
    border-radius: 15px;
    margin: 15px;
    box-shadow: -5px 6px 12px 1px rgba(166,166,166,1);
}

/* Font style */
.font-roboto {
    font-family: Roboto !important;
}

/* Drawer styles */
.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}

.am-drawer-open.am-drawer.am-drawer-left .am-drawer-sidebar {
    width: 250px;
    background-color: white;
}

.am-drawer-content {
    top: unset;
}